#hero {
    position: relative;
}

#hero::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../../assets/hero-image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.80; 
    z-index: 10;
}

#hero::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(3, 26, 61, 0.585);
    z-index: 20;
}
